@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
	
		body{   
			margin: 0px;
			padding: 0px;
			width: 100%;
			background-image: url(../images/maybe.jpg)
		}

		h1{
			font-family: 'Righteous', cursive;
			Letter-Spacing: 15px;
			font-size: 110pt;
			color: white;
			text-shadow:none;
			padding-left: 40px;
			text-shadow: 
			
		 }

		h2{
			font-family: 'Righteous', cursive;
			letter-spacing: 5px;
			font-size: 80pt;
			text-align: left;
			color: white;
			padding-left: 40px; 
		}


		h3{
			font-family: 'Lato';
			font-size: 30pt;
			letter-spacing: 10px;
			color: white;
			padding-left: 40px;
			
		}
		
		h4{
			font-family: 'Lato';
			font-size: 20pt;
			letter-spacing: 5px;
			color: white;
		
		}
		
		#nav {
			float: right;
		}

		.nav {
			background: #eeeeee;
			display: block;
			height: 50px;
		  }
		  
		  a {
			text-decoration: none;
		  }
		  
		  .wrapper {
			width: 70%;
			<!-- border: 1px solid red; -->
		  }

		  .wrapper2 {
			width: 70%;
			<!-- border: 1px solid red; -->
		  }
		  
		  .navLink {
			font-family: 'Righteous', cursive;
			letter-spacing: 5px;
			font-size: 90px;
			text-align: right;
			color: white;
			<!-- border: 1px solid blue; -->
			width: 360px;
			height: 120px;
			margin: 10px;
		  }
		  
		  .navLink:hover {
			font-size: 100px;
			transition-duration: 0.2s;
			color:none;
			text-shadow:none;
			letter-spacing: 10px;
		  }
		  
		  aside {
			position: fixed;
			right: 10px;
			top: 50px;
		  }

		  aside > a {
			border: ;
			display: block;
		  }
		  
		  #stupidFlourish {
			margin-top: 100px;
			margin-top: 50px;
			margin-left: 30px;
			background-color: ;
			width: 80%;
			height: 20px;
		  }
		  #playlist {
			padding-left: 100px;
		  }

		  .bandHead {
			font-family: 'Righteous';
			font-size: 25pt;
			letter-spacing: 10px;
			color: white;
			margin-top: 10px;
			margin-bottom: 10px;
			padding-bottom: 20px;
			letter-spacing: 3px;
		}
		.content {
			width: 100%;
			margin-left: 10px;
			margin-right: 10px;
			margin: 0 auto;
			position: relative;
			top: 150px;
			letter-spacing: 5px;
		}
		
		.flex-content {
			display: flex;
			flex-wrap: no-wrap;
			justify-content: space-evenly;
			margin-top: 5px;
			margin-bottom: 30px;
		  
		  @media only screen and (max-width: 1200px) {
			body{
				margin: 0px;
				padding: 0px;
				width: 100%;
				background-image:url(../images/uhh.jpg);
			  }

			aside {
			  border: ;
			  position: relative;
			  width: 100%;
			  font-size: 20px;
				text-align: center;
				
			}
			
			aside > a {
				border: ;
				text-align: center;
			
				
			  }

			  .navLink {
				text-align: center;
			  }

			  h1 {
				font-size: 60px;
				text-align: left;
				border: ;
				width: 100%;
				display: block;
				letter-spacing: 5px;
				padding-left: 20px;
			  }

			  .wrapper2, .wrapper {
				width: 100%;
			  }
			  h3 {
				font-size: 30px;
				text-align: left;
				letter-spacing: 3px;
			  }
			  h2 {
				font-size: 60px;
				text-align: left;
			  }
			  
		}