* {
	box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: white;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: white;
}

input::placeholder,
textarea::placeholder {
    color: white;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: white;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: white;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: white;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: white;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: white;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: white;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: white;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: white;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover:focus:-ms-placeholder {
    color: white;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

#formWrapper {
	width: 60%;
	max-width: 600px;
	min-width: 400px;
	margin: 0 auto;
	/* border: 3px solid red; */
}

form {
    width: 100%;
	box-shadow: 5px 5px 15px white;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: white;

    border: solid 1px white;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #ff07a0;
    color: #e2dedb;
}

textarea {
    width: 100%;
    height: 110px;
    padding: 15px;
	max-width: 100%;
	min-width: 100%;

    background: transparent;
    outline: none;

    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;

    border: solid 1px white;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
	
}

textarea:hover {
    background: #ff07a0;
    color: white;
}

#submit {
    width: 100%;

    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: white;

    outline: none;
    cursor: pointer;

    border: solid 1px white;
    border-top: none;
}

#submit:hover {
    color: white;
	font-weight: 900;
	font-size: 20px;
}